.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 191px;
  height: auto;
  background-color: var(--select-dropdown);
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  left: unset;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 4px 0px rgba(12, 12, 13, 0.1);
  z-index: 2;
}
.container.rtl {
  right: unset;
  left: 0;
}
.container.rtl .item {
  /* direction: ltr; */
}
.container .item {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  cursor: pointer;
  padding: 8px 11px;
}
.container .item:hover {
  background-color: var(--select-active-item);
}
.items.rtl {
  flex-direction: row-reverse;
}
/* .container .item > div {
  width: 100%;
} */
.container .item:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.container .selected {
  background-color: var(--select-active-item);
}
.container .item span {
  margin: 0px var(--primary-padding);
}
