.container {
  border-radius: var(--border-radius);
  box-sizing: border-box;
  display: inline-block;
  height: fit-content;
  box-sizing: border-box;

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    color: #000;
    border-radius: var(--border-radius);
    box-sizing: border-box;

    .prefix,
    .affix {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input {
      background-color: transparent;
      border: none;
      padding: 10px var(--primary-padding);
      padding-right: 0px;
      box-sizing: border-box;
    }

    input.rtl {
      padding: 10px var(--primary-padding);
      padding-left: 0px;
    }

    input:focus-visible {
      outline: 0;
    }

    input::placeholder {
      color: var(--placeholder);
      font-weight: 400;
      font-size: var(--primary-padding);
      line-height: 100%;
      vertical-align: middle;
    }
  }
}

.affixContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: auto;
}

.inputClassName {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .container {
    .wrapper {
      input {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;

        /* Gray 4 */

        color: #bdbdbd;
      }

      input::placeholder {
        font-size: 12px;
      }
    }
  }
}
