.firstSection {
  margin-top: 0px;
}

.cardSection {
  display: flex;
  width: 100%;
  min-width: 1000px;
}

.videoCard {
  width: 25%;
}
.coverImage {
  aspect-ratio: 3.99 !important;
}
.boxClassName {
  left: 0;
  right: unset;
}
.boxClassName.rtl {
  left: unset;
  right: 0;
}
