.container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: auto;
  min-width: 272px;
  height: auto;
  padding: var(--primary-padding);
  border-radius: var(--border-radius);
  padding: 8px var(--primary-padding);
}
.singleItem {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  aspect-ratio: 1;
  height: auto;
  border-radius: var(--border-radius);
}
.singleItem:hover {
  background-color: var(--selected-button);
}
.singleItem p {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
  height: auto;
}
