.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
}
.blueLoading {
  border-bottom-color: #ccc !important;
}

.loader {
  width: 80px;
  height: 80px;
  border: 2px solid #aaa !important;
  border-bottom-color: #fff !important;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 !important;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
