.divider {
  margin: 5px auto;
  width: 100%;
  background-color: #fafafa;
  border-top: 1px solid var(--dividerColor);
  display: block;
}

// @media only screen and (max-width: 576px) {
@media only screen and (max-width: 800px) {
  .divider {
    display: none;
  }
}
