.container {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
.button {
  background-color: var(--tagItem);
  margin-left: 0px;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  padding: 8px var(--primary-padding);
  border-radius: 8px;
  color: var(--text-color);
}
.button.rtl {
  margin-right: 0px;
  margin-left: 8px;
}
.button * {
  color: var(--text-color);
}

.activeButton {
  background-color: var(--activeTag);
  color: var(--activeTagText);
}
.activeButton * {
  color: var(--activeTagText);
}
