.wrapper {
  background-color: var(--bg-color);
  width: 42%;
  max-width: 604px;
}

.wrapper * {
  color: var(--text-color);
}

.affixWrapper {
  background-color: var(--tag-bg-color);
  padding: 8px 20px;
  border: unset;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.affixWrapper.rtl {
  border-radius: unset;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
