.container {
  /* cursor: pointer; */
  width: 100%;
}

.container_button__teacher_form {
  margin: 8px 0px;
  cursor: pointer;
}

.container_button__teacher_form :hover {
  background-color: #dcdfec;
  cursor: pointer;
}

.button__teacher_form {
  /* background-color: white !important; */
  border: 1px solid #c3c6d5 !important;
  /* padding: 0px !important; */
  width: auto;
  padding: 4px 8px;
  height: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.button__teacher_form>img {
  margin-left: 6px;
  cursor: pointer;
}

.description_teacher_button {
  font-size: 14px;
  cursor: pointer;
}

.uploadedFileStyle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  height: 100%;
}

.uploadedFileStyle a {
  color: cornflowerblue;
  text-decoration: underline;
  margin: 0 4px;

}